name: Deploy on EC2 Runner

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Run deploy script on server
        run: bash /home/ubuntu/gameapp/deploy.sh
